$d-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$b-cyan: hsl(192, 70%, 51%);
$grad: linear-gradient(to right, $lime-green, $b-cyan);

$grayish-blue: hsl(233, 8%, 62%);
$l-grayish-blue: hsl(220, 16%, 96%);
$v-l-grayish-blue: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
